@charset "utf-8";
/* CSS Document */

body { 
	background: white; 
} 

.menu,
.searchform,
.testimonials,
.sidebar,
.social { 
	display: none; 
} 

.wrapper { 
	width: auto; 
	margin: 0; 
	padding: 0; 
	border: 0; 
	float: none !important; 
	color: black; 
	background: transparent; 
}

.body .container .main {
	float:none;
	width:100%;	
}